@charset "UTF-8";

/*sm.폰트적용*/
@font-face {
  font-family: 'Eulyoo1945-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 /*sm.요소 중앙정렬*/
  .centered { display: table; margin-left: auto; margin-right: auto; } 


/*!
 * sm.햄버거 버튼용 css 라이브러리 작성 시작
 */

 h6{
   text-align: center;
 }
  html,body {

    background-color: #FFFFFF;
    font-family: Eulyoo1945-SemiBold;

     height: 100%;
 } 
 body{
   position: relative;
 }


.menu {
    position: absolute;
    top: 0;
    right: 0px;
    height: 200%;
    max-width: 0px;

    transition: 0.5s ease;
    z-index: 500;
    background-color: #88888842;
  }
  
  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 600;
    padding: 20px;
    top: 4px;
    right: 10px;
    user-select: none;
    width: auto;
    margin: 0;
  }
  
  .burger-icon .burger-sticks {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
  }
  
  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .burger-icon .burger-sticks:before {
    top: 5px;
  }
  
  .burger-icon .burger-sticks:after {
    top: -5px;
  }
  
  .burger-check {
    display: none;
  }
  
  .burger-check:checked~.menu {
    max-width: 500px;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
  }
  
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  }
/*!
 * sm.햄버거 버튼용 css 라이브러리 작성 끝
 */

 /*!
 * sm.슬라이더 이미지용 css
 */


  .swiper-container {
    width: 90%;
    height: 300px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFFFFF;
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* sm.슬라이더 이미지용 css 끝*/

  /* sm.플로팅 배너용 css 시작*/

  .sideBanner {
  position: absolute;
  right: 5px;
  width: 230px;
  height: 200px;
  top: 400px;
  background-color: rgba(220, 20, 60, 0);
  color: rgb(240, 255, 244);
  z-index: 6;
  
  }
  /* sm.플로팅 배너용 css 끝*/
